@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.dash {
  position: absolute;
  border: 1px solid white;
  width: 20em;
  height: 20em;
  padding: 5%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  right: 0;
  top: 80%;
}

.resources {
  /* display:flex; */
  /* flex-direction: row; */
  justify-content: center;
  font-family: "Montserrat";
  color: black;
  font-size: 1em;
  height: "100vh";
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: "black";
  color: "white";
  font-family: "Montserrat";
  margin: auto;
}
.user-name {
  display: flex;
  padding: 2%;
  font-size: 2em;
  margin: auto;
  font-family: "Montserrat";
  /* color:#0078D7; */
  color: black;
}

.buttons {
  padding: 3% 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.btn {
  background-color: #d9dd6b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 1em;
}

.btn:hover {
  border: 1px solid black;
}
