body{
    overflow-x: hidden;
    font-family: "Montserrat";
}

.navbar-container{
    height: 12vh;
    /* border: 2px solid white; */
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;

    background:(0% 0% 0%/0.5);
    backdrop-filter:blur(1rem);
    /* padding:0.2em; */
    border-bottom: solid 2px rgba(238, 238, 238, 0.425);
}


/* @supports(backdrop-filter: blur(1rem)){
    .navbar-container{
    background:(0% 0% 100%/0.1);
    backdrop-filter:blur(1rem);
    }
} */

.link{
    padding: 2%;
    text-decoration: none;
    color:white;
    opacity:0.7;
}

.link:hover{
    /* transform:scale(1.1) */
    /* text-decoration:underline; */
    opacity:1;

}
/* 
.mobile-nav-toggle{
    display: none;
  } */

.globus{
    text-decoration: none;
    list-style: none;
    flex: 2;
    justify-self: flex-start;
    margin-left: 2em;
    margin-top: 1.3rem;
    /* align-self: flex-start; */
}
.bi,.learn{
    color:white;
    flex: 0.4;
}
.user{
    flex:0.4;
    color:white;
    /* margin-right: 2em; */

}

.login{
    /* width:2px; */
    /* padding:10%; */
    /* flex:0.4; */
    opacity: 0.4;
    margin:0.8rem 1rem 0 0;
}
.nav-signout {
    /* color: rgb(0, 0, 0); */
    /* color: white; */
    background-color: transparent;
    /* z-index: 1;/ */
   
     /* */
    /* background:(0% 0% 0%/0.5); */
    font-size: 1rem;
    align-self: center;
    border: none;
    color: white;
    padding: 1rem;
    flex:0.4;
    font-weight: 100;

}
.nav-signout:hover{
    cursor: pointer;

}
/* mobile */
 @media (max-width: 500px){ 
.link{
    padding:3%;
}
}
