body{
    overflow-x: hidden;
    font-family: "Montserrat";
}

.navbar-container{
    height: 12vh;
    /* border: 2px solid white; */
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    /* min-width: 200px; */
    background:(0% 0% 0%/0.5);
    backdrop-filter:blur(1rem);
    /* padding:0.2em; */
    border-bottom: solid 2px rgba(238, 238, 238, 0.425);
}

.link{
    padding: 2%;
    text-decoration: none;
    color:white;
    opacity:0.7;
}

.link:hover{
    opacity:1;
}

.globus{
    text-decoration: none;
    list-style: none;
    flex: 2;
    justify-self: flex-start;
    margin-left: 2em;
    margin-top: 1.3rem;
    align-self: flex-start  ;
}
.bi,.learn{
    color:white;
    flex: 0.4;
}
.user{
    flex:0.4;
    color:white;
    /* margin-right: 2em; */

}

.login{
    /* opacity: 0.4; */
    margin:0.8rem 1rem 0 0;
}
.nav-signout {
    /* 
    font-size: 1rem;
    border: none;
    color: white;
    padding: 1rem;
    flex:0.4;
    font-weight: 100;
    */
    /* align-self: center; */
    background-color: transparent;
    font-size: large;
    padding: 2%;
    text-decoration: none;
    color:white;
    opacity:0.7;
    cursor: pointer;
    border:none;
}

.container-q{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/* mobile */
 @media (max-width: 30em){ 

.link{
    padding:3%;
}
.navbar-container{
    /* justify-content:space-between; */
}
}
