.en-words {
  margin-top: 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question {
  height: 5em;
  padding: 0 5em;
}
.answers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.select-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0 0 0;
  font-size: 2rem;
}
.categories {
  padding: 8em 12em 12em 12em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  color: black;
  margin: 2em;
  padding: 1em;
}

.game-list {
  display: flex;
  justify-content: center;
}

.not-active-button {
  background-color: grey;
}
.end-round-title {
  justify-self: center;
  margin: auto;
}
.end-round {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .category {
    margin: 1em;
    padding: 1em 3em;
  }
  .end-round-title {
    width: 99%;
    margin: auto;
  }
}
