.App {
  height: 100vh;
  background-color: #8d2828;
  color: "white";
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .App {
      display: flex;
      align-items:flex-start;
      justify-content: center;
    }

.User{
    position: relative;
    margin: auto;
    display: flex;
    align-self: center;
}


}
    