.App {
  height: 100vh;
  min-width: 260px;
  background-color: #212121;
  color: white;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.login-container{
  display: flex;
  justify-content: center;
}
.login{
  /* position: absolute; */
  /* top:20rem; */
  /* left:37rem; */
  /* display: flex; */
}
@media (max-width: 35em){
  .login-container{
    display: flex;
  justify-content: center;
  }
}
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .App {
      display: flex;
      align-items:flex-start;
      justify-content: center;
    }
.login-container{
  display: flex;
  align-items:center;
  justify-content: flex;
}
.User{
    position: relative;
    margin: auto;
    display: flex;
    align-self: center;
}


}
     */